body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.5;
	color: #555;
	background: #f1e9dc;
}


.pantalla {
	margin-left : 80px;
	margin-right : 80px;
}

/*
.panel {
	position: absolute;
	background:BLACK; 
	height:100%; 
	display: none;
7	color: white;
}
*/
iframe {
	margin: :20px !important;
}


a:link {
   color:white;
}

a:hover {
	color:RED;        
}

a:visited {
    color:WHITE;
}

a:active {
     color:white;
}

p {
    font-size:20px;
    text-align: justify;
    color: black;
}

/******************MENU********************/

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}
/*
li.panel{
  float: left;
}

 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

naver {

  margin:0 auto; 
}

naver li a:hover {
  background-color: #111111;
}

 li:hover > ul {
  display:block;
}

naver li ul li {
  position:relative;
}
*/

      * {
        margin:0px;
        padding:0px;
      }
          
      ul, ol {
        list-style:none;
      }
      
      .nav > li {
        float:left; 
      }
      
      .nav li a {
        background-color:#000;
        color:#fff;
        text-decoration:none;
        padding:10px 12px;
        display:block;
      }
      
      .nav li a:hover {
        background-color:#434343;
      }
      
      .nav li ul {
        display:none;
        position:absolute;
        min-width:140px;
      }
      
      .nav li:hover > ul {
        display:block;
      }
      
      .nav li ul li {
        position:relative;
      }
      
